#gridArea {
    position: relative;
    width: 960px;
    height: 640px;
    margin: 50px auto;
    padding: 1px;
    border: 0px solid black;
    display: table;
}

#btn {
    text-align: center;
}

button {
    position: relative;
    margin: auto;
}

table {
    position: relative;
    border-collapse: collapse;
    background-color: black;
}

tr,
td {
    margin: 0;
    padding: 0;
}

.cell {
    background-color: white;
    border: 1px solid gray;
}
